  <%= link_to "Login", new_session_path, class: "btn btn-primary" %>
  
  <h1>ユーザ登録が完了しました‼</h1>  
  
  <h3>名前：<%= @user.name %></h3>

  <p>メールアドレス: <%= @user.email %></p>
  
　<% if @user.image? %>
　　<%= image_tag @user.image.thumb.url %>
　<% else %>
　　<%= image_tag 'noimage.gif' %>
　<% end %>